.App {
  font-size: 16px;
  padding: 5%;
  text-align: center;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;

}

.input-group {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.Button {
  margin-left: 10px;
}

img {
  margin-top: 20px;
}