.App {
  font-size: 16px;
  padding: 5% 5% 10px;
  text-align: center;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;

}

.input-group {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.Button {
  margin-left: 10px;
}

img {
  margin-top: 20px;
}

.fade {
  animation-name: fade-in;
  animation-duration: 2s;
}

.date-stats {
  opacity: 100;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: inherit;
}